---
// import Solution from '../components/Solution.astro'
import Features from '../components/Features.astro'
import HeroSection from '../components/HeroSection.astro'
import Layout from '../layouts/Layout.astro'
import Testimonials from '../components/Testimonials.astro'
import Pricing from '../components/Pricing.astro'
// import Blog from '../components/Blog.astro'
---

<!-- TODO: SEO -->
<Layout
	title="Roast Your Deck | Perfect your pitch to investors"
	description=""
>
	<main class="space-y-8 sm:space-y-24 [&>*+*]:pt-16 mb-20 sm:mb-40">
		<HeroSection />
		<Features />
		<!-- <Solution /> -->
		<Testimonials />
		<Pricing />
		<!-- <Blog /> -->
	</main>
</Layout>
