---
import Fire from './Fire.astro'
---

<a
    href="/#home"
    target="_self"
    aria-label="logo"
    class="flex space-x-2 items-center"
>
    <Fire className="h-6 sm:h-7 w-auto" />
    <span
        class="font-bold text-gray-900 dark:text-white text-lg xs:text-xl sm:text-2xl leading-tight"
    >
        Roast Your Deck
    </span>
</a>
