---
import { packages } from '../data'
import Container from './Container.astro'
---

<div class="relative py-16" id="pricing">
	<div
		aria-hidden="true"
		class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
	>
		<div
			class="blur-[106px] h-56 bg-gradient-to-br from-primary to-orange-400 dark:from-amber-700/70"
		>
		</div>
		<div
			class="blur-[106px] h-32 bg-gradient-to-r from-amber-500/50 to-red-300 dark:to-orange-950/50"
		>
		</div>
	</div>
	<Container>
		<img
			loading="lazy"
			width="200"
			height="200"
			src="/fire.svg"
			alt="fire"
			class="h-16 w-16 mx-auto"
		/>

		<div class="mt-6 m-auto space-y-6 md:w-8/12 lg:w-7/12">
			<h1
				class="text-center text-4xl font-bold text-gray-900 dark:text-white sm:text-5xl lg:text-6xl"
			>
				Get Roasted Now
			</h1>
			<p class="text-center text-xl text-gray-600 dark:text-gray-300">
				Start perfecting your pitch deck immediately.
			</p>
		</div>

		<div
			class="mt-12 relative overflow-hidden rounded-3xl bg-gradient-to-b from-gray-200 to-white p-px dark:from-gray-700 dark:via-gray-800 dark:to-darker"
		>
			<div
				class="relative text-left flex max-md:flex-col h-full gap-6 xl:gap-12 rounded-3xl bg-gray-100 dark:bg-[#1c191a] divide-y p-12 dark:divide-gray-800 md:flex-row md:divide-y-0 md:divide-x max-md:[&>*+*]:pt-6 md:[&>*+*]:pl-6 xl:[&>*+*]:pl-12"
			>
				{
					packages.map(
						({
							price,
							priceIndicator,
							description,
							features,
							purchaseUrl,
						}) => (
							<div class="md:w-1/3">
								<div class="inline-flex flex-wrap items-end gap-x-2 gap-y-1">
									<span class="text-5xl font-bold text-gray-900 dark:text-white sm:text-6xl">
										<span class="text-4xl -tracking-wide text-primary dark:text-gray-200">
											$
										</span>
										<span>{price}</span>
									</span>
									{priceIndicator && (
										<span class="text-lg text-gray-600 dark:text-gray-200">
											{priceIndicator}
										</span>
									)}
								</div>

								<p class="mt-4 text-gray-700 dark:text-gray-200">
									{description}
								</p>

								<div class="mt-10 flex flex-col gap-3">
									{features.map((feature) => (
										<div
											class={`flex items-start gap-2 text-gray-800 dark:text-white ${
												typeof feature === 'object' &&
												feature.disabled
													? '!text-gray-700 dark:!text-gray-600'
													: ''
											}`}
										>
											<svg
												class="mt-1"
												xmlns="http://www.w3.org/2000/svg"
												width="16"
												height="16"
												viewBox="0 0 16 16"
												fill="inherit"
											>
												<path
													d="M8 15.5C3.85775 15.5 0.5 12.1423 0.5 8C0.5 3.85775 3.85775 0.5 8 0.5C12.1423 0.5 15.5 3.85775 15.5 8C15.5 12.1423 12.1423 15.5 8 15.5ZM7.25225 11L12.5548 5.69675L11.4943 4.63625L7.25225 8.879L5.1305 6.75725L4.07 7.81775L7.25225 11Z"
													fill="currentColor"
												/>
											</svg>
											<span class="leading-relaxed">
												{typeof feature === 'string'
													? feature
													: feature.text}
											</span>
										</div>
									))}
								</div>

								<a
									href={purchaseUrl}
									target="_blank"
									rel="noopener noreferrer"
									class="relative mt-8 flex w-full items-center justify-center px-4 py-2 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
								>
									<span class="relative font-semibold text-stone-800">
										Get started
									</span>
								</a>
							</div>
						),
					)
				}
			</div>
		</div>
	</Container>
</div>
