---
import { packages } from '../data'
import Container from './Container.astro'
import Fire from './Fire.astro'
import Package from './Package.astro'

const containerClass =
	'mx-auto relative overflow-hidden rounded-3xl bg-gradient-to-b from-gray-200 to-white p-px dark:from-gray-700 dark:via-gray-800 dark:to-darker'
const contentClass =
	'relative text-left flex max-lg:flex-col h-full gap-6 xl:gap-12 rounded-3xl bg-gray-100 dark:bg-[#1c191a] divide-y p-8  max-2xs:px-6 xs:p-12 dark:divide-gray-800 lg:flex-row lg:divide-y-0 lg:divide-x'

const ultimatePackage = packages[3]
---

<div class="relative py-16" id="pricing">
	<div
		aria-hidden="true"
		class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
	>
		<div
			class="blur-[106px] h-56 bg-gradient-to-br from-primary to-orange-400 dark:from-amber-700/70"
		>
		</div>
		<div
			class="blur-[106px] h-32 bg-gradient-to-r from-amber-500/50 to-red-300 dark:to-orange-950/50"
		>
		</div>
	</div>
	<Container>
		<Fire className="h-16 w-16 mx-auto" />

		<div class="mt-6 m-auto space-y-6 md:w-8/12 lg:w-7/12">
			<h1
				class="text-center text-4xl font-bold text-gray-900 dark:text-white sm:text-5xl lg:text-6xl"
			>
				Get Roasted Now
			</h1>
			<p class="text-center text-xl text-gray-600 dark:text-gray-300">
				Start perfecting your pitch deck immediately.
			</p>
		</div>

		<div class=`mt-12 max-lg:max-w-xl ${containerClass}`>
			<div class={contentClass}>
				{
					packages
						.slice(0, 3)
						.map((props, i) => (
							<Package
								{...props}
								className={`lg:w-1/3 ${
									i > 0 ? 'max-lg:pt-6 lg:pl-6 xl:pl-12' : ''
								}`}
							/>
						))
				}
			</div>
		</div>

		<div class={`mt-12 max-lg:max-w-xl ${containerClass}`}>
			<div class={`${contentClass} lg:[&>*]:w-1/2`}>
				{ultimatePackage && <Package {...ultimatePackage} />}

				<div class="max-lg:pt-16 max-lg:pb-8 lg:pl-6 xl:pl-12">
					<div
						class="flex flex-col justify-center h-full items-center max-w-sm mx-auto text-center"
					>
						<h3
							class="mb-5 text-2xl font-semibold text-gray-900 dark:text-white"
						>
							Roast Scholarship
						</h3>

						<p class="text-gray-700 dark:text-gray-200">
							Our pricing is set to fairly compensate our experts,
							but if your runway is short, submit your deck and
							we'll be happy to negotiate a discount 😊.
						</p>

						<a
							href="https://airtable.com/shrV9SoVFNhwiIesv"
							target="_blank"
							rel="noopener noreferrer"
							class="relative mt-8 flex w-full items-center justify-center px-4 py-2 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
						>
							<span class="relative font-semibold text-stone-800">
								Submit your deck
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</Container>
</div>
