---
import Container from './Container.astro'
// import { waitlistUrl } from '../data'
---

<div class="relative py-16" id="pricing">
	<div
		aria-hidden="true"
		class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
	>
		<div
			class="blur-[106px] h-56 bg-gradient-to-br from-primary to-orange-400 dark:from-amber-700/70"
		>
		</div>
		<div
			class="blur-[106px] h-32 bg-gradient-to-r from-amber-500/50 to-red-300 dark:to-orange-950/50"
		>
		</div>
	</div>
	<Container>
		<div class="relative">
			<div class="flex items-center justify-center -space-x-2">
				<img
					loading="lazy"
					width="200"
					height="200"
					src="/fire.svg"
					alt="fire"
					class="h-16 w-16"
				/>
			</div>
			<div class="mt-6 m-auto space-y-6 md:w-8/12 lg:w-7/12">
				<h1
					class="text-center text-4xl font-bold text-gray-800 dark:text-white md:text-5xl"
				>
					Get Roasted Now
				</h1>
				<p class="text-center text-xl text-gray-600 dark:text-gray-300">
					Join our waitlist to get early-access to our platform.
				</p>
			</div>
		</div>
	</Container>
</div>
