---
export interface Props {
    title: string
}

const { title } = Astro.props
---

<div class="relative text-center pt-10 xs:pt-12 lg:pt-14">
    <span
        class="text-6xl xs:text-7xl lg:text-8xl whitespace-nowrap bg-[linear-gradient(180deg,rgba(247,178,74,0.4)_0,rgba(247,178,74,0)_100%)] bg-clip-text text-transparent opacity-20 absolute left-1/2 -translate-x-1/2 top-0 font-extrabold leading-none"
    >
        {title}
    </span>
    <h2
        class="text-center text-4xl font-bold text-gray-900 dark:text-white sm:text-5xl lg:text-6xl"
    >
        <slot />
    </h2>
</div>
