---
import Container from './Container.astro'
import Subtitle from './Subtitle.astro'
import Review from './Review.astro'
---

<div class="text-gray-600 dark:text-gray-300" id="testimonials">
	<Container>
		<div class="mx-auto md:w-3/5">
			<Subtitle title="Testimonials">Reviews from founders</Subtitle>
			<!-- <p class="mt-4 text-center text-gray-600 dark:text-gray-300">
				Repellendus atque illum odio! Fugiat at expedita deserunt
				dolorum molestias.
			</p> -->
		</div>
		<div
			class="mt-10 sm:mt-12 grid gap-6 sm:grid-cols-2 md:mt-20 lg:grid-cols-3"
		>
			<div class="space-y-6">
				<Review
					author="Luke Wiseman"
					profileUrl="/images/avatars/luke-w.jpeg"
					description="CEO of Loop Messaging"
				>
					<!-- <span slot="description">
						CEO of <a
							href="https://www.loopmessaging.io/"
							target="_blank"
							rel="noopener noreferrer"
							class="text-primary hover:underline"
							>Loop Messaging</a
						>
					</span> -->
					Roast Your Deck's in-depth understanding of what investors look
					for helped me fine-tune our deck from a rough draft into an engaging
					pitch.
				</Review>
				<Review
					author="Byeongjun Moon"
					profileUrl="/images/avatars/byeongjun-m.jpeg"
					description="Co-founder of Mainstream Labs"
				>
					It's insane what RoastYourDeck helped us when raising our
					first round. They're very analytical, compelling, and quick
					to respond. Highly recommend for those who are starting out
					in the startup world, looking for support for your next big
					idea.
				</Review>
			</div>
			<div class="space-y-6">
				<Review
					author="Linh Nguyen"
					profileUrl="/images/avatars/linh-n.jpg"
					description="Founder of EcoGlow"
				>
					I was blown away by RoastYourDeck's lightning-fast
					turnaround! Within hours, they reviewed our pitch deck and
					provided invaluable feedback. Their speed and efficiency
					saved us valuable time, allowing us to iterate quickly and
					present an even stronger deck. RoastYourDeck is a
					game-changer for any founder in need of rapid, high-quality
					feedback.
				</Review>
				<Review
					author="Karla Leung"
					profileUrl="/images/avatars/karla-l.jpeg"
					description="Founder of Ideaful"
				>
					RoastYourDeck gave great feedback on our deck's
					storytelling, which ended up informing our long term product
					marketing and strategy.
				</Review>
			</div>
			<div class="space-y-6 sm:hidden lg:block">
				<!-- <Review
					author="Hunter Douglas"
					profileUrl="/images/avatars/hunter-d.webp"
					description="Founder of LoanEdge"
				>
					RoastYourDeck helped us nail the problem and solution slide,
					making it stand out. I cannot recommend them enough for
					making such service so accessible!!
				</Review> -->
				<Review
					author="Roland Shen"
					profileUrl="/images/avatars/roland-s.jpeg"
					description="Founder of Spellbound"
				>
					Thank you so much for giving us advice on how to craft a
					compelling go-to-market strategy slide
				</Review>
				<Review
					author="Jake Sacks"
					profileUrl="/images/avatars/jake-s.jpeg"
					description="Founder of Hngr"
				>
					I can't imagine a more phenomenal set of feedback.
					RoastYourDeck sent me 4 loom recordings detailing every
					piece of each slide (with a few hours notice). Every word
					was relevant and RoastYourDeck tied each point directly to
					my company, nothing felt generalized. I have 2 pages of
					notes and an eternal debt to RoastYourDeck for helping me
					elevate my deck.
				</Review>
			</div>
		</div>
	</Container>
</div>
